---
import './style.scss'
import { Image } from '@unpic/astro'
import { blurhashToCssGradientString } from '@unpic/placeholder'

import { ArrowLeftIcon } from '@lucide/astro'
import { parseDate } from '@/lib/date'

interface Props {
	title: string
	pubDate: Date
	heroImage: string
	hash: string
	tags: string[]
}

const { title, pubDate, heroImage, hash, tags } = Astro.props

const css = blurhashToCssGradientString(hash)
---

<article class="hero">
	<div class="hero-image" style={{ background: css }}>
		<Image src={heroImage} layout="fullWidth" placeholder="blurhash" background={css} objectFit="cover" alt={title} />
	</div>

	<a href="/" class="hero-back">
		<ArrowLeftIcon />
		<p>Regresar</p>
	</a>
	<div class="hero-info">
		<h2 class="hero-title">{title}</h2>
		<small>{parseDate(pubDate)}</small>
	</div>
	<ul class="hero-tags">
		{
			tags.map((tag) => (
				<li class="hero-tag">
					<p>{tag}</p>
				</li>
			))
		}
	</ul>
</article>
