---
import type { CollectionEntry } from 'astro:content'
import './style.scss'
import { parseDate } from '@/lib/date'
import { Image } from 'astro:assets'

type Props = {
	post: CollectionEntry<'blog'>['data'] & {
		id: string
	}
}

const { post } = Astro.props

const { id, title, description, pubDate, tags, heroImage } = post
---

<a href={`/blog/${id}`} class="post border">
	<div class="post-hero">
		<Image src={heroImage} layout="constrained" width={110} height={150} alt={title} fit="cover" />
	</div>
	<div class="post-description">
		<div class="post-section">
			<h4 class="post-title">{title}</h4>
			<small>{parseDate(pubDate)}</small>
		</div>
		<p class="post-text">{description}</p>
		<div class="post-tags">
			{tags.map((tag) => <p class="post-tag border">{tag}</p>)}
		</div>
	</div>
</a>
